/* .tableContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.tableContainer table {
  border-collapse: separate !important;
  border-spacing: 0 6px !important;
  overflow: scroll;
  position: relative;
}

.addIcon {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1000 !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.tableHeaderRow {
  position: sticky;
  top: 0;
  z-index: 20 !important;
  width: 100%;
}

.tableContainer th {
  width: 150px;
  height: 40px;
  font-size: 0.9vw !important;
  font-weight: 600;
  background: var(--BG-25);
  color: var(--textBlack);
}

.listRow {
  background: var(--background);
  height: 70px;
  cursor: pointer;
 
}
.tableContainer td:first-child {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.tableContainer td:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.rowBar {
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 10px;
  width: 5px;
  height: 45px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.firstColumnWrapper {
  height: 50px;
}
.tableContainer td {
  font-size: 0.8vw !important;
  font-weight: 400;
  color: var(--textBlack);
  vertical-align: middle !important;
  text-align: center;
  margin: auto;
}
.tableContainer td:nth-child(1) {
  padding: 10px 10px 10px 15px;
  text-align: left;
  max-width: 50px !important;

  background-color: var(--background);
}
.tableContainer th:nth-child(1) {
  max-width: 50px !important;
  padding-left: 10px;

  padding-top: 10px;

  background: var(--BG-25);
} */

.broadCastContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.broadCastContainer table {
  border-collapse: separate !important;
  border-spacing: 0 6px !important;
  overflow: scroll;
  position: relative;
}

.addIcon {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1000 !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.broadCastHeaderRow {
  position: sticky;
  top: 0;
  z-index: 20 !important;
  width: 100%;
}

.broadCastHeaderRow th {
  width: 100px;
  height: 40px;
  font-size: 0.9vw !important;
  font-weight: 600;
  background: var(--BG-25);
  color: var(--textBlack);
}

.listRow {
  background: var(--background);
  height: 70px;
  cursor: pointer;
}
.broadCastContainer td:first-child {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.broadCastContainer td:last-child {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.rowBar {
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 10px;
  width: 5px;
  height: 45px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.firstColumnWrapper {
  height: 50px;
}
.broadCastContainer td {
  font-size: 0.8vw !important;
  font-weight: 400;
  color: var(--textBlack);
  vertical-align: middle !important;
  text-align: center;
  margin: auto;
}
.broadCastContainer td:nth-child(1) {
  padding: 0px 10px 0px 15px;
  text-align: left !important;
  width: 0%;
  margin: 0;
  background-color: var(--background);
}
.broadCastHeaderRow th:nth-child(1) {
  width: 50px !important;
  padding: 0px 10px 0px 15px;
  width: 0%;
  text-align: left;
  background: var(--BG-25);
}
.broadCastContainer td:nth-child(2),
.broadCastContainer td:nth-child(3) {
  text-align: left !important;
  padding-right: 5px;
}
.broadCastHeaderRow th:nth-child(2),
.broadCastContainer th:nth-child(3) {
  text-align: left !important;
  padding-right: 5px;
}
.filterdropdown {
  width: 15vw;
  height: auto;
  max-height: 250px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px var(--border-100);
  z-index: 50 !important;
  padding: 0 5px;
}

.filterdropdown.active {
  display: block;
}
.filterdropdownitem {
  cursor: pointer;
}
.filterLabel {
  font-size: 0.8vw;
  padding: 10px 0;
  background-color: #fff;
  color: var(--darkgrey);
}
.filterdropdownitem > h4 {
  font-size: 0.8vw;
  font-weight: 500;
}
.filterList {
  font-size: 0.8vw;
  padding: 10px 0;
  color: var(--textBlack);
  margin: 0 10px;
}
